<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="zh-cn" />
        <meta name="robots" content="all" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />  
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=yes">
        <title>logout</title>
    </head>
    
    <body>
        <h3>Good bye </h3>
        {% if username %}
        <a href="/login/">login</a>
        {% endif %}
    </body>
</html
