<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>opsadmin自动化运维</title>
</head>
<html>
<body>
<form name="form1" method="post" action="">
<div id="Layer1" style="position:absolute; width:200px; height:115px; z-index:1; left: 471px; top: 244px;">
  <p align="center" class="style1">用户
    <input type="text" name="username">
  </p>
  <p align="center" class="style1">密码
    <input type="password" name="password">
</p>
 <p align="center" class="style1">
    <input type="submit" name="Submit" value="提交">
    <input type="submit" name="Submit2" value="取消">
  </p>
</form>
</div>
</body>
</html>
